/* Marc de la pantalla */
.frame {
  height: 100vh;
  background: #aea7a1;
  position: relative;
  display: flex;
  border-radius: 10px;

  
  /* Efecte 3d enfosquint els laterals */
  border-top: 60px solid #928c87;      
  border-left: 60px solid #9f9992;   
  border-bottom: 60px solid #b2aba4;  
  border-right: 60px solid #a39d96; 
}

  /* Pantalla, on anirà el contingut */
  .screen {
  position: relative;
  flex: 1;
  background-color: #23212e;
  padding: 40px;
  border-radius: 7px / 7px;
  display: grid;
  place-content: center;
  gap: 100px;

  /* Sombra per simular la vora de la pantalla */
  box-shadow:
    inset 5px 5px 20px #000,    
    inset -5px -5px 20px #000,  
    inset 0 0 50px #000; 
  }

  .screen h1 {
    color: #fff;
    font-family: 'Press Start 2P', monospace;
    font-size: 40px;
    color: #f1f122;
    text-align: center;
    text-shadow: 
      0 0 5px #434307,
      0 0 10px #778408,
      0 0 20px #232303;
  }

  .text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', monospace;
    font-size: 18px;
    color: #f1f122;
    text-align: center;
    text-shadow: 0 0 20px #232303;
    
  }

  .pacman {
    width: 50px;
    height: 50px;
    border-top: solid 50px #f1f122;
    border-bottom: solid 50px #f1f122;
    border-left: solid 50px #f1f122;
    border-right: solid 50px transparent;
    border-radius: 50%;
    position: relative;
  }

  .pacman::before {
    content: "";
    position: absolute;
    background: #000;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    top: -25px;
    left: -8px;   
  }



